<p>Hi, <%= name %>!</p>
<p>Your password has been reset successfully. Here is your new password: <%= newPassword %></p>
<p>If you did not request a password reset, please contact support immediately.</p>